.rotate-your-phone{
  position: absolute;
  width: 100%;
  height: 75vw;
  background: #0F111A;
  display: none;

  @media (max-width: 500px) {
    position: absolute;
    width: 100%;
    height: 75vw;
    background: #0F111A;
    display: block;

    .phone-rotation{
      width: 40%;
      height: 100%;
      margin-left: 30%;
      margin-right: 30%;
      border-style: solid;
      border-color: #eeffff;
      border-width: 1vw;
      border-radius: 2vw;
      transition: all 1.5s ease;
    }

    .rotate-message-first-line{
      position: absolute;
      transform:  translateY(-15vw);
      text-align: center;
      width: 100%;
      font-family: 'Rubik Mono One', sans-serif;
      transition: all 1.5s ease;

    }

    .rotate-message-second-line{
      position: absolute;
      text-align: center;
      width: 100%;
      font-family: 'Rubik Mono One', sans-serif;
      transition: all 1.5s ease;

    }
  }

}
