*{
    font-family: 'Source Code Pro', monospace;
}


.square-container{
    display: grid;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0; right: 0;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    max-height: 400px;
    min-height: 50%;
    margin: auto;
    padding: 50px;
}

body{
    background: #0F111A;
}

.home{
    color: #eeffff;
    font-size: 2vw;
    padding-left: 30%;
    padding-top: 6%;
    width: 50%;
    min-height: 70vw;
}

.home-first-line{
    margin: 0;
}

.home-second-line{
    margin: 0;
    padding-left: 10%;
}

.home-third-line{
    margin: 0;
    padding-left: 10%;
}

.home-fourth-line{
    margin: 0;
    padding-left: 20%;
}

.home-fifth-line{
    margin: 0;
    padding-left: 10%;
}
.home-sixth-line{
    margin: 0;
}

.coding-image{
    position: absolute;
    transform: scale(1);
    top: 0;
    right: 0;
}

.computer-box{
    width: 11vw;
    height: 28vw;
    position: absolute;
    right: 12.25vw;
    top: 5vw;
}

.power{
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: #eeffff;
    border-radius: 50%;
    border: none;

    right: 3.25vw;
    top: 22vw;
    transition: transform 0.5s ease;
}

.power:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.linkedin-power-on{
    position: absolute;
    width: 4vw;
    border-radius: 50%;
    height: 4vw;
    right: 3.25vw;

    top: 3vw;
    transition: transform 0.5s ease;

}

.linkedin-power-on:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.linkedin-power-off{
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 3.25vw;

    top: 3vw;
    transition: transform 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transform: scaleY(0);
}


.github-power-on{
    position: absolute;
    width: 4vw;
    border-radius: 50%;
    height: 4vw;
    right: 3.25vw;

    top: 12.5vw;
    transition: transform 0.5s ease;
}

.github-power-on:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.github-power-off{
    position: absolute;
    width: 4vw;
    border-radius: 50%;
    height: 4vw;
    right: 3.25vw;
    top: 12.5vw;
    transition: transform 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transform: scaleY(0);
}


.drawer-left{
    position: absolute;
    width: 18vw;
    height: 30vw;
    left: 9vw;
    top: 38vw;
    border-style: solid;
    border-color: #eeffff;
    border-width: 0.5vw;

    display: grid;

    grid-template-rows: 1fr 1fr;



}

.drawer-right{
    position: absolute;
    width: 18vw;
    height: 30vw;
    right: 9vw;
    top: 38vw;
    border-style: solid;
    border-color: #eeffff;
    border-width: 0.5vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.shelf{
    border-bottom-style: solid;
    border-color: #eeffff;
    border-width: 0.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.last-shelf{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.react-logo{
    width: 9vw;
    transform: scale(1.5);
    padding-top: 1.5vw;
    transition: transform 0.5s ease;
}
.python-logo{
    padding-left: 1.5vw;
    width: 5vw;
    transform: scale(1.5);
    padding-top: 1.8vw;
    transition: transform 0.5s ease;
}

.html-logo{
    padding-left: 1.5vw;
    width: 5vw;
    transform: scale(1.5);
    padding-top: 2vw;
    transition: transform 0.5s ease;
}

.logo:hover{
    transform: scale(1.7);
    cursor: pointer;
}

.left-shelf{
    border-bottom-style: solid;
    border-color: #eeffff;
    border-width: 0.5vw;

    display: grid;
    grid-template-columns: 1fr 2fr;


}

.cv-image{
    transform: scale(0.8);
    top: -3.5vw;

    transition: transform 1s ease;
}

.cv-image:hover{
    cursor: pointer;
    transform: scale(0.9);

}

.download-resume{
}

.book{
    position: absolute;
    width: 15vw;
    height: 4vw;
    background: #c6d2d2;
    top: 1.5vw;
    left: 1.5vw;


    color: #0F111A;


}

.book-title{
    position: absolute;
    left: 5vw;
    font-size: 3vw;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    top: -0.25vw;
}

.download-icon{
    width: 3.5vw;
    position: absolute;
    left: 0.5vw;
    top: 0.25vw;

}


.phone{
    width: 6vw;
    height: 10vw;
    background: #0F111A;

    border-style: solid;
    border-width: 0.25vw;
    border-radius: 0.5vw;
    border-color: #c6d2d2;

    position: absolute;
    left: 15vw;
    top: 22.75vw;

    transition: transform 1s ease;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.phone:hover{
    transform: translateY(-2vw);
    cursor: pointer;
}

.call-icon{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: #eeffff;


    transition: all 1s ease;


}

ion-icon{
    font-size: 4vw;
    transition: all 1s ease;
    color: #eeffff;

}



.phone-support{
    width: 8.5vw;
    height: 2.5vw;
    background: #eeffff;
    position: absolute;
    left: 14vw;
    top: 31.9vw;
}




.title{
    position: absolute;
    display: block;
    top: -100px;
    padding: 3%;
    text-align: center;
    font-size: 6rem;
    color: #eeffff;
    height: 30%;

    left: 0;
}

.cursor{
    background: #ffcb6b;
}

.square-div{
    font-size: 150%;
    color: #c3e88d;
    transition: all 1.5s ease;
    margin: auto;
}



.center{
    grid-row-gap: 10px;
    margin: auto;
    min-height: 225px;
    min-width: 225px;
    height: 65%;
    width: 55%;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 2px #eeffff;

    transition: all 1.5s ease;
    display: grid;
}

.center-clicked{
    grid-row-gap: 10px;
    margin: auto;
    min-height: 225px;
    min-width: 225px;


    transform: translateY(200%) ;
    height: 65%;

    width: 55%;

    border-radius: 10px;
    transition: all 1s ;
    box-shadow: 1px 1px 2px 2px #eeffff;
    display: grid;
}

.square:hover{
    background: #090B10;
    cursor: pointer;
}

.first{
    grid-row-gap: 10px;
    margin: auto;
    min-height: 225px;
    min-width: 225px;
    height: 65%;
    width: 55%;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 2px #eeffff;

    transition: all 1.5s ease;
    display: flex;
}

.first-when-center-clicked{
    grid-row-gap: 10px;
    margin: auto;
    min-height: 225px;
    min-width: 225px;
    height: 65%;
    width: 55%;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 2px #eeffff;

    transition: all 1.5s ease;
    display: flex;
    transform: translateX(-200%);
}

.final{
    grid-row-gap: 10px;
    margin: auto;
    min-height: 225px;
    min-width: 225px;
    height: 65%;
    width: 55%;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 2px #eeffff;

    transition: all 1.5s ease;
    display: grid;
}

.final-when-center-clicked{
    grid-row-gap: 10px;
    margin: auto;
    min-height: 225px;
    min-width: 225px;
    height: 65%;
    width: 55%;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 2px #eeffff;

    transition: all 1.5s ease;
    transform: translateX(200%);
    display: grid;

}

.code-symbol{
    color: #82aaff;
}

.code-operator{
    color: #89ddff;
}

.code-keyword{
    color: #c792ea;
    font-style: italic;
}

.code-function{
    color: #82aaff;
}

.code-atribute{
    color: #ffcb6b;
}

.code-variable{
    color: #eeffff;
}


/*Animation*/

/*BUTTON ANIMATIONS*/

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

