*{
    font-family: 'Source Code Pro', monospace;
}

body{
    background: #0F111A;
}

ion-icon{
    font-size: 4vw;
    transition: all 1s ease;
    color: #eeffff;
}

@media (max-height: 600px) {
    ion-icon{
        transform: scale(1) !important;
    }
}
